:root{
    --font-color: #232020;
    --background-color: #ffffff;
}

*{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

html, body{
    height: 100%;
}

body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#top{
    display: flex;
    justify-content: space-between;
    width: 830px;
    border-top: 1px solid var(--font-color);
    padding-top: 5px;
    color: var(--font-color);
}

#main{
    width: 830px;
    height: 405px;
    margin-top: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left{
    color: var(--font-color);
    width: 400px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top h2{
    font-size: 16px;
    font-weight: 500;
}

#header h1{
    font-size: 78px;
    font-weight: 900;
    line-height: 60px;
}

#main-bottom{
    display: flex;
    flex-direction: column;
}

#main-bottom p{
    font-size: 12px;
    font-weight: bolder;
}

#button-wrap{
    font-size: 10px;
    font-weight: 900;
    height: inherit;
    margin: 10px 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#button-wrap img{
    width: 25px;
    margin: 10px;
    cursor: pointer;
}

#my-img{
    width: 400px;
}

#dot{
    display: inline-block;
}